.form {
    padding: 0 !important;
}


/* Basic portlet */

.portlet {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.portlet.portlet-fullscreen {
    z-index: 10060;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.portlet.portlet-fullscreen > .portlet-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
}

.portlet.portlet-fullscreen > .portlet-title {
    padding: 0 10px;
}

.portlet > .portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.portlet > .portlet-title:before,
.portlet > .portlet-title:after {
    content: " ";
    display: table;
}

.portlet > .portlet-title:after {
    clear: both;
}

.portlet > .portlet-title > .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}

.portlet > .portlet-title > .caption.bold {
    font-weight: 400;
}

.portlet > .portlet-title > .caption > i {
    float: left;
    margin-top: 4px;
    display: inline-block;
    font-size: 13px;
    margin-right: 5px;
    color: #666;
}

.portlet > .portlet-title > .caption > i.glyphicon {
    margin-top: 2px;
}

.portlet > .portlet-title > .caption > .caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
}

.portlet > .portlet-title > .actions {
    float: right;
    display: inline-block;
    padding: 6px 0;
}

.portlet > .portlet-title > .actions > .dropdown-menu i {
    color: #555555;
}

.portlet > .portlet-title > .actions > .btn,
.portlet > .portlet-title > .actions > .btn.btn-sm,
.portlet > .portlet-title > .actions > .btn-group > .btn,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.5;
}

.portlet > .portlet-title > .actions > .btn.btn-default,
.portlet > .portlet-title > .actions > .btn.btn-sm.btn-default,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-default,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm.btn-default {
    padding: 3px 9px;
}

.portlet > .portlet-title > .actions > .btn > i,
.portlet > .portlet-title > .actions > .btn.btn-sm > i,
.portlet > .portlet-title > .actions > .btn-group > .btn > i,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm > i {
    font-size: 13px;
}

.portlet > .portlet-title > .actions .btn-icon-only {
    padding: 5px 7px 3px 7px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default {
    padding: 4px 6px 2px 6px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default > i {
    font-size: 14px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen {
    font-family: FontAwesome;
    color: #a0a0a0;
    padding-top: 3px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen.btn-sm {
    padding: 3px 3px !important;
    height: 27px;
    width: 27px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen:before {
    content: "\F065";
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen.on:before {
    content: "\F066";
}

.portlet > .portlet-title > .tools {
    float: right;
    display: inline-block;
    padding: 12px 0 8px 0;
}

.portlet > .portlet-title > .tools > a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.portlet > .portlet-title > .tools > a.remove {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAQCAYAAADAvYV+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANpJREFUeNq0kk0OgjAQhWlDTDyA5+AAupMb9AjuXOui/iBIJCZyAe9QbqCuXJt4HTf4JnkkDYREFjZ5PIb5ZihTVF3Xwa9LBwPWIDisqmoBj6CVMebTBpAfwUrorQkuIdvT0DIfaQY5lKLLvtVV4pR5q5ppMHGEtthOgXiD+xOUIBY4UP7oWCDQE5pBRQN2YBbcYHPoDjDuHR3AHWwKPcQZd2Emcu4zpud+gXLOjeFrKJMvx6szr8GB0xC/aA48EdgHZTHOmC9DXF7QFTr3HIo8nwin/vbXfQUYACiCVqPkg0sSAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    width: 11px;
}

.portlet > .portlet-title > .tools > a.config {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOxJREFUeNpi/P//PwMpgImBRMCydu1aXHI8QKwDxOxAfAyIf4M14DFMBIhjgVgIiD8D8Tl8ThIH4kQgjgFiOWQXYbNBEIgroYp3AXEZEP8A4haQBdhs+AJ1rzAQ/4GKJQBxNRAbYrPhN9TNIOADxBpQzXuBeA42DR5AHAHE74D4JhBLA/FBIG4H8dE1+ANxGzSEQPQhqOn3gPgWerB6A/FkIBaFenoSEP/DiDggVgViYyCuBWJuIG4E4pnYFMM0+EFDgAOIi4F4BhDjTGAgDZeA+DIQ7wfipfgUwzSch5p6BSk4cQJGUpM3QIABAHhUMYDOexVrAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    width: 12px;
}

.portlet > .portlet-title > .tools > a.reload {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAQCAYAAADNo/U5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPtJREFUeNpi/P//PwOpgImBDMACY6xdu1YWSAUDsTsQG0OFzwLxTpB0cHDwY6AaRiCbmxHkPCDHEsgpB+L7UEVnoZqMoYYoAnEPEFeAaBaoDSAN84GmbURzyQ4QBqoBuWAzEAsA8VUmqJPuY9EAczYrkKqBagABbSao9Tvx+LsAiG8C8Q0g/g3E5oxkBTnQehZSNTGuWbPmBjTUmoH4JNBvf3H4zQNI5QPlPUF++gTEIIHdIAyUTMZhAdzvIE2PoIJcQCwCxKuw2OIPjau1sBTxFSp3G4j3AbE1UBG2yO0EpQqYphdAbALEr6Bxlo8lGfXBNIADgm6pHCDAAN74WCI0qGhXAAAAAElFTkSuQmCC);
    width: 13px;
}

.portlet > .portlet-title > .tools > a.expand {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKJJREFUeNpi/P//PwM5gImBTEB/jSxr167FJRcLNXghVo04NPkB8TwgZgTi90C8iRin+gDxYiC+B8R3oWwfQhpBChYB8RMg9ofiJ1AxH1waQc5bBcRvgTgCiG9AcQRUbBVUDYpGkMnrgPgVEIcA8WUkAy9DxV5B1fjDNCL7CWTiRSz+vgiVuwfzMyy4HwNxIBBfwhN1l6BqQGoXMo6AtAoQYACBoir5G19dWQAAAABJRU5ErkJggg==);
    width: 14px;
    visibility: visible;
}

.portlet > .portlet-title > .tools > a.collapse {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK9JREFUeNpi/P//PwM5gImBTDCENLKsXbv2LZB+AcRhQHyVgHptIF4FxBIgG+OBWBaI1wOxHh5NelA1ILXxII1bgDgWiJWAeBMQ62PRpA+VU4Kq3QLz40YgDgJiMSBeA8S6SJp0oWJiUDUb0QNnE9SfwkC8Aog1oHgFVCwMqgYSOGhOAjk7DoiXwkwGBQQQR0Pl8EYHsp+VYX7CiA4cIQhyUhLU4E3YFDAOnUQOEGAAznMiZXD8QAkAAAAASUVORK5CYII=);
    width: 14px;
    visibility: visible;
}

.portlet > .portlet-title > .tools > a.fullscreen {
    display: inline-block;
    top: -3px;
    position: relative;
    font-size: 13px;
    font-family: FontAwesome;
    color: #ACACAC;
}

.portlet > .portlet-title > .tools > a.fullscreen:before {
    content: "\F065";
}

.portlet > .portlet-title > .tools > a.fullscreen.on:before {
    content: "\F066";
}

.portlet > .portlet-title > .tools > a:hover {
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.portlet > .portlet-title > .pagination {
    float: right;
    display: inline-block;
    margin: 2px 0 0 0;
    border: 0;
    padding: 4px 0;
}

.portlet > .portlet-title > .nav-tabs {
    background: none;
    margin: 1px 0 0 0;
    float: right;
    display: inline-block;
    border: 0;
}

.portlet > .portlet-title > .nav-tabs > li {
    background: none;
    margin: 0;
    border: 0;
}

.portlet > .portlet-title > .nav-tabs > li > a {
    background: none;
    margin: 5px 0 0 1px;
    border: 0;
    padding: 8px 10px;
    color: #fff;
}

.portlet > .portlet-title > .nav-tabs > li.active > a,
.portlet > .portlet-title > .nav-tabs > li:hover > a {
    color: #333;
    background: #fff;
    border: 0;
}

.portlet > .portlet-body {
    clear: both;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.portlet > .portlet-body p {
    margin-top: 0;
}

.portlet > .portlet-empty {
    min-height: 125px;
}

.portlet.full-height-content {
    margin-bottom: 0;
}


/* Portlet background colors */


/* Side bordered portlet */

.portlet.bordered {
    border-left: 2px solid #e6e9ec !important;
}

.portlet.bordered > .portlet-title {
    border-bottom: 0;
}


/* Solid colored portlet */

.portlet.solid {
    padding: 0 10px 10px 10px;
    border: 0px;
}

.portlet.solid > .portlet-title {
    border-bottom: 0;
    margin-bottom: 10px;
}

.portlet.solid > .portlet-title > .caption {
    padding: 16px 0 2px 0;
}

.portlet.solid > .portlet-title > .actions {
    padding: 12px 0 6px 0;
}

.portlet.solid > .portlet-title > .tools {
    padding: 14px 0 6px 0;
}


/* Solid bordered portlet */

.portlet.solid.bordered > .portlet-title {
    margin-bottom: 10px;
}


/* Box portlet */

.portlet.box {
    padding: 0px !important;
}

.portlet.box > .portlet-title {
    border-bottom: 0;
    padding: 0 10px;
    margin-bottom: 0;
    color: #fff;
}

.portlet.box > .portlet-title > .caption {
    padding: 11px 0 9px 0;
}

.portlet.box > .portlet-title > .tools > a.remove {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAQCAYAAADAvYV+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi/P//PwOxgImBBECy4mQgngTEbDjUsEHlkxmAbp4ExH+AuB7kfiy4Hio/CcThhgqAQC2awlqoOEieG5tEFZRfhW4AAxaTvgPxbiiNYhM2N+6BmrgHXQ5dYQ3UxL1QugaX4hqoiSCaEY0PV8wJxHVIvkYPtv9QeU6QwFRoODbgCOcGqPxUkHWgGDQC4mIg/oElBjmAuBeIzzHSLNUBBBgAADNYLF7gWhwAAAAASUVORK5CYII=);
}

.portlet.box > .portlet-title > .tools > a.config {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOJJREFUeNqU0r+rQWEYwPFzDiVlwS2bjSSLwZ+gFGU1UIyyKHW7ZfCP2OTPkM1o8Gu/d1TXQqijzv0+t0dJr6Pz1mc55/n1vj2253lWkONYAU/Y518MBUSwgPsu4QMtJHDE0m+kFDpoIv04kW24dBwjDZ7jE1f0pIGpw0nnTeKm39oYomi6g6szy6khp8kzjC0Z6UkFO/xigW9MkEfoObiOLfYYoKQFsveYx+AqfnBBH46h+39CBg2tLGN8IWoKvidI6wPO6MJ+FSzklVZY65tP4buNUk1WoIyNepsQaFv/BBgAvivmuNpe4eEAAAAASUVORK5CYII=);
}

.portlet.box > .portlet-title > .tools > a.reload {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAQCAYAAADNo/U5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOZJREFUeNq80j8LAXEcx/HfHRYWg1UyGyn5s7MZPAQPgAfgCViUPAulyCApz8BmIINikUUpk+G873zI4JQb/OpVd9/ffbr73u9rOY5jfl22CbDCb9dJ1FFBVrUlZhjiAAux55sK6COFHjLSU83dK2OCnKGnJEaouf35qOPsPFbH1iftMPZpIYI24rrP2Oph9qXvFjZY44a8FfSXh4OEVpiiiNCXZ6t6zgtdVJhLwyf06t0N7VWMIoHBh0ANaR2y189VG1ssUNIkGE1GRYGOpsILHb1TNuakM2t+GKPuM+Au629TfhdgAC84WEJRaHegAAAAAElFTkSuQmCC);
}

.portlet.box > .portlet-title > .tools > a.expand {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJFJREFUeNrkkkEKgCAQRbXTBFFeROoE0albZJsuUFALNwX2hS8EaYtWQQMP5M//MDMonXPiTWXiZX0r2IIu2fXHiVCDHRx83zyxkAYrGMhK7THoDQvoQU56ajoV9CNZMILyopfU7HXs0Gy4zwRUZHzF3kGvCONtwIAqcSzBnqFXe2HmHsVDKFDQO8sf/NVTgAEA+MJIj9XZEpsAAAAASUVORK5CYII=);
}

.portlet.box > .portlet-title > .tools > a.collapse {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJJJREFUeNrkkkEKgCAQRa3TBFJdROoEHa5Dtag2XaCgFm4K7AtfELGCdpHwFo7vywyaGGPEm5X8ICgQnEEHpL3kAUl3thsFNjCA4iZU0LGucsUaHGACZSRU8uygK/zDCmgwgtyr56xpOiIMurYXzpGRjjXlu7FZrLCCnqxh6Cro2t45UxVz7t6xASloP/7lTgEGALwVXbclDSW7AAAAAElFTkSuQmCC);
}

.portlet.box > .portlet-title > .tools > a.fullscreen {
    color: #fdfdfd;
}

.portlet.box > .portlet-title > .actions {
    padding: 7px 0 5px 0;
}

.portlet.box > .portlet-body {
    background-color: #fff;
    padding: 15px;
}


/* Light Portlet */

.portlet.light {
    padding: 12px 20px 15px 20px;
    background-color: #fff;
}

.portlet.light.bordered {
    border: 1px solid #e7ecf1 !important;
}

.portlet.light.bordered > .portlet-title {
    border-bottom: 1px solid #eef1f5;
}

.portlet.light.bg-inverse {
    background: #f1f4f7;
}

.portlet.light > .portlet-title {
    padding: 0;
    min-height: 48px;
}

.portlet.light > .portlet-title > .caption {
    color: #666;
    padding: 10px 0;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
    font-size: 16px;
}

.portlet.light > .portlet-title > .caption > i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
}

.portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
    font-size: 15px;
}

.portlet.light > .portlet-title > .caption.caption-md > i {
    font-size: 14px;
}

.portlet.light > .portlet-title > .actions {
    padding: 6px 0 14px 0;
}

.portlet.light > .portlet-title > .actions .btn-default {
    color: #666;
}

.portlet.light > .portlet-title > .actions .btn-icon-only {
    height: 27px;
    width: 27px;
}

.portlet.light > .portlet-title > .actions .dropdown-menu li > a {
    color: #555;
}

.portlet.light > .portlet-title > .inputs {
    float: right;
    display: inline-block;
    padding: 4px 0;
}

.portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > i {
    font-size: 14px;
    margin-top: 9px;
}

.portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > .form-control {
    height: 30px;
    padding: 2px 26px 3px 10px;
    font-size: 13px;
}

.portlet.light > .portlet-title > .inputs > .portlet-input > .form-control {
    height: 30px;
    padding: 3px 10px;
    font-size: 13px;
}

.portlet.light > .portlet-title > .pagination {
    padding: 2px 0 13px 0;
}

.portlet.light > .portlet-title > .tools {
    padding: 10px 0 13px 0;
    margin-top: 2px;
}

.portlet.light > .portlet-title > .nav-tabs > li {
    margin: 0;
    padding: 0;
}

.portlet.light > .portlet-title > .nav-tabs > li > a {
    margin: 0;
    padding: 12px 13px 13px 13px;
    font-size: 13px;
    color: #666;
}

.portlet.light > .portlet-title > .nav-tabs > li.active > a,
.portlet.light > .portlet-title > .nav-tabs > li:hover > a {
    margin: 0;
    background: none;
    color: #333;
}

.portlet.light.form-fit {
    padding: 0;
}

.portlet.light.form-fit > .portlet-title {
    padding: 17px 20px 10px 20px;
    margin-bottom: 0;
}

.portlet.light .portlet-body {
    padding-top: 8px;
}

.portlet.light.portlet-fullscreen > .portlet-body {
    padding: 8px 0;
}

.portlet.light.portlet-fit {
    padding: 0;
}

.portlet.light.portlet-fit > .portlet-title {
    padding: 15px 20px 10px 20px;
}

.portlet.light.portlet-fit > .portlet-body {
    padding: 10px 20px 20px 20px;
}

.portlet.light.portlet-fit.portlet-form > .portlet-body {
    padding: 0;
}

.portlet.light.portlet-fit.portlet-form > .portlet-body {
    padding: 0;
}

.portlet.light.portlet-fit.portlet-form > .portlet-body .form-actions {
    background: none;
}

.portlet.light.portlet-datatable.portlet-fit > .portlet-body {
    padding-top: 10px;
    padding-bottom: 25px;
}
